/* You can add global styles to this file, and also import other style files */

* {
    font-family: Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";
}

html, body {
    margin: 0;
    padding: 0;
}